<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/symbolicdata.css">
  </head>
  <body>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="." class="navbar-left">
	    <img width="90em" src="stylesheets/Wumm.png"></a></li>
	<li><a href="index.html">Home</a></li> 
	<li><a href="About.html">About</a></li>
	<li><a href="Guide.html">Site-Guide</a></li>
	<li><a href="TTN.html">TRIZ Trainings Network</a></li>
	<li><a href="TSN.html">TRIZ Social Network</a></li>
	<li><a href="Ontology.html">TRIZ Ontology</a></li>
	<li><a href="http://wumm.uni-leipzig.de/people.php">People</a></li>
	<li><a href="http://wumm.uni-leipzig.de/conferneces.php">Conferences</a></li>
	<li><a href="http://wumm.uni-leipzig.de/presentations.php">Presentations</a></li>
	<li><a href="Disclaimer.html">Privacy</a></li>
      </ul>
    </nav>
    <div class="container" >
    <div class="jumbotron" >
      {{ content }}
    </div>
    </div>
    <footer>
      <div class="container">
        <p class="center-text"> &copy; The WUMM Project, since 2019</p>
      </div>
    </footer>
  </body>
</html>
